doctype html
html
    head
        meta(charset='UTF-8')
        if dev
            link(rel='stylesheet', type='text/css', href= mode?'http://127.0.0.1:8088/admin.css':'', media='all')
        else
            link(rel='stylesheet', type='text/css', href= libPath+'admin.css', media='all')

    body test

    script.
        var cf = {
            lang: '#{lang}',
            code: '#{c.code}',
            console: true,
            app: '#{app}',
            mode: #{mode},
            community: !{cstr},
            index: '#{index}'
        };
    if dev
        script(src='http://127.0.0.1:8088/webpack-dev-server.js')
        script(src='http://127.0.0.1:8088/lib.js')
        script(src='http://127.0.0.1:8088/admin.js')
    else
        script(src='#{libPath}lib.js')
        script(src='#{libPath}admin.js')
    script
        block st
