extends inc/main

block content
    .panel
        .panel-heading
            h2= title

    if _slides
        - var _prop = 'slide'
        include inc/slide

    if item
        .panel
            .panel-heading
                h3= item.title
            .panel-body
                p= item.content

    include inc/items

block st
    :coffee(bare=true)
        pp = util.parseUrl()
        cat = pp.cat
        ent = pp.entity
        $('.headMenu').find("a[href*='#{cat}']").parent().addClass 'active'
        $('.menus').find("a[href*='entity=#{ent}']").parent().addClass 'active'
        tops = ($(it).attr('href') for it in $('footer .top a')).join(',')
        for it in $('.pBox>a')
            if tops.indexOf($(it).attr('href'))>-1
                $(it).addClass 'topIcon'


