extends inc/main

block content

    .topHead
        .panel
            h2= title
                include inc/share
                small.pull-right.btn(data-toggle="collapse",data-target="#asl") A ~ Z
        #asl.collapse
            .row.text-center
                each it in allSights
                    != f.link('sight',it,null,'col-md-3')


        if refFile
            #slide.carousel.slide(data-ride='carousel')
                .carousel-inner
                    -var _slides = refFile.show
                    each it,i in refFile.show
                        .item(class= i == 0 ? 'active' : '' )
                            img(src= f.resPath(c.code, it))
                            - k = it.split('.')[0]
                            if refFile[k]
                                .carousel-caption
                                    h4
                                        a(target='_blank')= refFile[k].title
                                    p= refFile[k].description
                include ../../../../views/inc/slideBtn

    article.col-md-12.panel
        h3= title
        .article!= content
    .row
        .col-md-8.pr0
            if sub
                .panel
                    each it in sub
                        h4= it.title
                        if it.refFile && it.refFile.head
                            .row
                                img(src= f.resPath(c.code, it.refFile.head[0]))
                        p!= it.content
            if extra
                #people
                    .panel.panel-default(style='padding:0')
                        each it,i in extra
                            a.panel-heading(data-toggle='collapse', data-parent='#people', href= '#cl' + i)
                                h4.panel-title= it.title
                            .panel-collapse.collapse(id= 'cl' + i, class= i == 0 ? 'in' : '')
                                .panel-body!= it.content

        #info.col-md-4
            if info
                .panel.panel-default.p0
                    each v,k in info
                        a.panel-heading(data-toggle='collapse', data-parent='#info', href= '#' + k)
                            h4.panel-title= k.toString().capAll()
                        .panel-collapse.collapse(id= k, class= k == 'openingHours' ? 'in' : '')
                            .panel-body!= v


    .col-md-12
        .row
            include inc/recommend
