extends main

block script
    - headMenu = _.where(menu, {code: 'top'})[0].children;

block content

    .topHead
        h2= title
            include inc/share
            small.btn A ~ Z
        if refFile
            #slide.carousel.slide(data-ride='carousel')
                .carousel-inner
                    each it in refFile.head
                        .item(class= i == 0 ? 'active' : '' )
                            img(src= f.resPath(c.code, it))
                            .carousel-caption
                                h4
                                    a(target='_blank')= title
                                p= content

    article.clearfix
        section.col-md-8
            h2
                | Introducing #{title}
            .shrink
                .sInside= content
            h3 SubSights
            each it in sub
                .main
                    = it.title
        aside.col-md-4
            dl.info-list
                dt
                    | Opening hours
                dd
                    = opening
                dt
                    | Prices
                dd
                    | #{fee}
                dt
                    | Getting there
                dd
                    | subway
                    strong Tian'anmen West or Tian'anmen East
                dt
                    | Telephone
                dd
                    a.tel(href='tel:#{phone}')
                        = phone
                dt
                    | Best Time to See
                dd
                    = opening
                dt
                    | English Audio Guide
                dd
                dt Latest Updated
                dt 1985-11-11


        .col-md-12.footerFunc
            hr
            a.fl.btn.btn-default.btn-sm
                i.glyphicon.glyphicon-home
                | Back to Sights
            a.fl.btn.btn-primary.btn-sm
                i.glyphicon.glyphicon-home
                | Explore it
            a.fr.btn.btn-default.btn-sm
                i.glyphicon.glyphicon-home
                | Print
            a.fr.btn.btn-default.btn-sm
                i.glyphicon.glyphicon-home
                | Email

        section
            h3 Related Tours
            .sightCardList