script.
    var cf = {
        lang: '#{lang}',
        code: '#{c.code}',
        console: true,
        app: '#{app}',
        mode: #{mode},
        community: !{cstr},
        index: '#{index}'
    };
if true
    script(src='/module/rfg.js')
    script.
        cfg = exports.cfg("#{c.code}")
    script(data-main='/module/mrfg.js', src='/res/js/requirejs/require.js')