<a class="list-group-item clearfix" title='{{username}}' id='ss-{{id}}'>
    <strong class='col-md-2'>{{id}}</strong>
    <span class='col-md-3'>{{username}}</span>
    <span class='col-md-2'>{{st status 'user'}}</span>
    <span class='pull-right'>{{email}}</span>
</a>