{{#each .}}
    <li>
        {{#if href}}
            {{#if icon}}
            {{icon icon 'i'}}
            {{/if}}
            <a {{#if cls}}class="{{cls}}"{{/if}} {{#if title}}title="{{title}}"{{/if}} href="{{href}}">{{label}}</a>
        {{else}}
            <span>{{label}}</span>
        {{/if}}
    </li>
{{/each}}